<!-- app/views/items/new.html.erb -->

<% content_for :header do %>
  <header>
    <h1>Novo produto</h1>
  </header>
<% end %>

<body>    
   

  <div>
  <h1 class="novo_produto">Novo produto</h1>
 
  <br>

  <%= render "form", item: @item %>
  
  <br>
  
  
    <%= link_to "Back to items", items_path %>
  </div>
</body>


